<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.dao.PulldownMenuMapper">
    <resultMap id="BaseResultMap" type="com.cl.bean.res.PulldownMenuResBean">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
    </resultMap>

    <select id="queryOrgPulldownMenu" resultMap="BaseResultMap">
        SELECT
          id ,
          name ,
          code
        FROM
          sys_org
        WHERE
          status = 1
    </select>
</mapper>