<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.dao.PurchaseMapper">
  <resultMap id="BaseResultMap" type="com.cl.entity.PurchaseEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="purchase_no" jdbcType="VARCHAR" property="purchaseNo" />
    <result column="purchase_time" jdbcType="TIMESTAMP" property="purchaseTime" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_color_number" jdbcType="VARCHAR" property="supplierColorNumber" />
    <result column="purchase_status" jdbcType="TINYINT" property="purchaseStatus" />
    <result column="materiel_sku" jdbcType="VARCHAR" property="materielSku" />
    <result column="materiel_type_code" jdbcType="VARCHAR" property="materielTypeCode" />
    <result column="materiel_name" jdbcType="VARCHAR" property="materielName" />
    <result column="materiel_color" jdbcType="VARCHAR" property="materielColor" />
    <result column="answer_pick_quantity" jdbcType="INTEGER" property="answerPickQuantity" />
    <result column="answer_pick_monovalent" jdbcType="DECIMAL" property="answerPickMonovalent" />
    <result column="answer_pick_total" jdbcType="DECIMAL" property="answerPickTotal" />
    <result column="actual_pick_quantity" jdbcType="INTEGER" property="actualPickQuantity" />
    <result column="actual_pick_monovalent" jdbcType="DECIMAL" property="actualPickMonovalent" />
    <result column="actual_pick_total" jdbcType="DECIMAL" property="actualPickTotal" />
    <result column="single_amount_kg" jdbcType="DECIMAL" property="singleAmountKg" />
    <result column="consuming_time" jdbcType="DECIMAL" property="consumingTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_no, purchase_no, purchase_time, supplier_name, supplier_code, supplier_color_number, 
    purchase_status, materiel_sku, materiel_type_code, materiel_name, materiel_color, 
    answer_pick_quantity, answer_pick_monovalent, answer_pick_total, actual_pick_quantity, 
    actual_pick_monovalent, actual_pick_total, single_amount_kg, consuming_time, remarks, 
    create_time, create_user, last_update_time, last_update_user
  </sql>
  <select id="selectByExample" parameterType="com.cl.entity.PurchaseEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from purchase
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cl.entity.PurchaseEntityExample">
    delete from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cl.entity.PurchaseEntity" useGeneratedKeys="true">
    insert into purchase (order_no, purchase_no, purchase_time, 
      supplier_name, supplier_code, supplier_color_number, 
      purchase_status, materiel_sku, materiel_type_code, 
      materiel_name, materiel_color, answer_pick_quantity, 
      answer_pick_monovalent, answer_pick_total, 
      actual_pick_quantity, actual_pick_monovalent, 
      actual_pick_total, single_amount_kg, consuming_time, 
      remarks, create_time, create_user, 
      last_update_time, last_update_user)
    values (#{orderNo,jdbcType=VARCHAR}, #{purchaseNo,jdbcType=VARCHAR}, #{purchaseTime,jdbcType=TIMESTAMP}, 
      #{supplierName,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, #{supplierColorNumber,jdbcType=VARCHAR}, 
      #{purchaseStatus,jdbcType=TINYINT}, #{materielSku,jdbcType=VARCHAR}, #{materielTypeCode,jdbcType=VARCHAR}, 
      #{materielName,jdbcType=VARCHAR}, #{materielColor,jdbcType=VARCHAR}, #{answerPickQuantity,jdbcType=INTEGER}, 
      #{answerPickMonovalent,jdbcType=DECIMAL}, #{answerPickTotal,jdbcType=DECIMAL}, 
      #{actualPickQuantity,jdbcType=INTEGER}, #{actualPickMonovalent,jdbcType=DECIMAL}, 
      #{actualPickTotal,jdbcType=DECIMAL}, #{singleAmountKg,jdbcType=DECIMAL}, #{consumingTime,jdbcType=DECIMAL}, 
      #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cl.entity.PurchaseEntity" useGeneratedKeys="true">
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="purchaseNo != null">
        purchase_no,
      </if>
      <if test="purchaseTime != null">
        purchase_time,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="supplierColorNumber != null">
        supplier_color_number,
      </if>
      <if test="purchaseStatus != null">
        purchase_status,
      </if>
      <if test="materielSku != null">
        materiel_sku,
      </if>
      <if test="materielTypeCode != null">
        materiel_type_code,
      </if>
      <if test="materielName != null">
        materiel_name,
      </if>
      <if test="materielColor != null">
        materiel_color,
      </if>
      <if test="answerPickQuantity != null">
        answer_pick_quantity,
      </if>
      <if test="answerPickMonovalent != null">
        answer_pick_monovalent,
      </if>
      <if test="answerPickTotal != null">
        answer_pick_total,
      </if>
      <if test="actualPickQuantity != null">
        actual_pick_quantity,
      </if>
      <if test="actualPickMonovalent != null">
        actual_pick_monovalent,
      </if>
      <if test="actualPickTotal != null">
        actual_pick_total,
      </if>
      <if test="singleAmountKg != null">
        single_amount_kg,
      </if>
      <if test="consumingTime != null">
        consuming_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      create_time,
      <if test="createUser != null">
        create_user,
      </if>
      last_update_time,
      <if test="lastUpdateUser != null">
        last_update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNo != null">
        #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierColorNumber != null">
        #{supplierColorNumber,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null">
        #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="materielSku != null">
        #{materielSku,jdbcType=VARCHAR},
      </if>
      <if test="materielTypeCode != null">
        #{materielTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="materielName != null">
        #{materielName,jdbcType=VARCHAR},
      </if>
      <if test="materielColor != null">
        #{materielColor,jdbcType=VARCHAR},
      </if>
      <if test="answerPickQuantity != null">
        #{answerPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="answerPickMonovalent != null">
        #{answerPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="answerPickTotal != null">
        #{answerPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="actualPickQuantity != null">
        #{actualPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="actualPickMonovalent != null">
        #{actualPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="actualPickTotal != null">
        #{actualPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="singleAmountKg != null">
        #{singleAmountKg,jdbcType=DECIMAL},
      </if>
      <if test="consumingTime != null">
        #{consumingTime,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cl.entity.PurchaseEntityExample" resultType="java.lang.Long">
    select count(*) from purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update purchase
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseNo != null">
        purchase_no = #{record.purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseTime != null">
        purchase_time = #{record.purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supplierName != null">
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierCode != null">
        supplier_code = #{record.supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierColorNumber != null">
        supplier_color_number = #{record.supplierColorNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseStatus != null">
        purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="record.materielSku != null">
        materiel_sku = #{record.materielSku,jdbcType=VARCHAR},
      </if>
      <if test="record.materielTypeCode != null">
        materiel_type_code = #{record.materielTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.materielName != null">
        materiel_name = #{record.materielName,jdbcType=VARCHAR},
      </if>
      <if test="record.materielColor != null">
        materiel_color = #{record.materielColor,jdbcType=VARCHAR},
      </if>
      <if test="record.answerPickQuantity != null">
        answer_pick_quantity = #{record.answerPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.answerPickMonovalent != null">
        answer_pick_monovalent = #{record.answerPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="record.answerPickTotal != null">
        answer_pick_total = #{record.answerPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.actualPickQuantity != null">
        actual_pick_quantity = #{record.actualPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.actualPickMonovalent != null">
        actual_pick_monovalent = #{record.actualPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="record.actualPickTotal != null">
        actual_pick_total = #{record.actualPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.singleAmountKg != null">
        single_amount_kg = #{record.singleAmountKg,jdbcType=DECIMAL},
      </if>
      <if test="record.consumingTime != null">
        consuming_time = #{record.consumingTime,jdbcType=DECIMAL},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUser != null">
        last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update purchase
    set id = #{record.id,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      purchase_no = #{record.purchaseNo,jdbcType=VARCHAR},
      purchase_time = #{record.purchaseTime,jdbcType=TIMESTAMP},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      supplier_code = #{record.supplierCode,jdbcType=VARCHAR},
      supplier_color_number = #{record.supplierColorNumber,jdbcType=VARCHAR},
      purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      materiel_sku = #{record.materielSku,jdbcType=VARCHAR},
      materiel_type_code = #{record.materielTypeCode,jdbcType=VARCHAR},
      materiel_name = #{record.materielName,jdbcType=VARCHAR},
      materiel_color = #{record.materielColor,jdbcType=VARCHAR},
      answer_pick_quantity = #{record.answerPickQuantity,jdbcType=INTEGER},
      answer_pick_monovalent = #{record.answerPickMonovalent,jdbcType=DECIMAL},
      answer_pick_total = #{record.answerPickTotal,jdbcType=DECIMAL},
      actual_pick_quantity = #{record.actualPickQuantity,jdbcType=INTEGER},
      actual_pick_monovalent = #{record.actualPickMonovalent,jdbcType=DECIMAL},
      actual_pick_total = #{record.actualPickTotal,jdbcType=DECIMAL},
      single_amount_kg = #{record.singleAmountKg,jdbcType=DECIMAL},
      consuming_time = #{record.consumingTime,jdbcType=DECIMAL},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.entity.PurchaseEntity">
    update purchase
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNo != null">
        purchase_no = #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierColorNumber != null">
        supplier_color_number = #{supplierColorNumber,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null">
        purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="materielSku != null">
        materiel_sku = #{materielSku,jdbcType=VARCHAR},
      </if>
      <if test="materielTypeCode != null">
        materiel_type_code = #{materielTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="materielName != null">
        materiel_name = #{materielName,jdbcType=VARCHAR},
      </if>
      <if test="materielColor != null">
        materiel_color = #{materielColor,jdbcType=VARCHAR},
      </if>
      <if test="answerPickQuantity != null">
        answer_pick_quantity = #{answerPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="answerPickMonovalent != null">
        answer_pick_monovalent = #{answerPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="answerPickTotal != null">
        answer_pick_total = #{answerPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="actualPickQuantity != null">
        actual_pick_quantity = #{actualPickQuantity,jdbcType=INTEGER},
      </if>
      <if test="actualPickMonovalent != null">
        actual_pick_monovalent = #{actualPickMonovalent,jdbcType=DECIMAL},
      </if>
      <if test="actualPickTotal != null">
        actual_pick_total = #{actualPickTotal,jdbcType=DECIMAL},
      </if>
      <if test="singleAmountKg != null">
        single_amount_kg = #{singleAmountKg,jdbcType=DECIMAL},
      </if>
      <if test="consumingTime != null">
        consuming_time = #{consumingTime,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.entity.PurchaseEntity">
    update purchase
    set order_no = #{orderNo,jdbcType=VARCHAR},
      purchase_no = #{purchaseNo,jdbcType=VARCHAR},
      purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_color_number = #{supplierColorNumber,jdbcType=VARCHAR},
      purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      materiel_sku = #{materielSku,jdbcType=VARCHAR},
      materiel_type_code = #{materielTypeCode,jdbcType=VARCHAR},
      materiel_name = #{materielName,jdbcType=VARCHAR},
      materiel_color = #{materielColor,jdbcType=VARCHAR},
      answer_pick_quantity = #{answerPickQuantity,jdbcType=INTEGER},
      answer_pick_monovalent = #{answerPickMonovalent,jdbcType=DECIMAL},
      answer_pick_total = #{answerPickTotal,jdbcType=DECIMAL},
      actual_pick_quantity = #{actualPickQuantity,jdbcType=INTEGER},
      actual_pick_monovalent = #{actualPickMonovalent,jdbcType=DECIMAL},
      actual_pick_total = #{actualPickTotal,jdbcType=DECIMAL},
      single_amount_kg = #{singleAmountKg,jdbcType=DECIMAL},
      consuming_time = #{consumingTime,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>